bin/
dist/
build/
build.test/
reports/
lib/*.jar
*.swp
*.class
lib/
local.properties

# Eclipse project file
.classpath
.project
.settings

# Idea project file
.idea
*.iml

# Package Files #
*.war
*.ear
